*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("picturesweb/back10.jpg");
}
.logo{
 
    background-image: url("picturesweb/music24.png");
    background-position:center;
    background-color:black;
    background-size: cover;
    margin-top: 20px;
    border: 1px solid rgb(211, 211, 211);
}
.logotitle h2{
    padding: 20px;
    color: rgb(32, 16, 250);
    font-weight: bold;
}
.log{
    margin-right: 20px;
}
.nav-item{
    color:white;
    font-weight:bold;
    background-color:black;
    border-radius:10px;
    margin:0.1em;
    border: 0.25em outset grey;
    background-image: url("picturesweb/texture7.jpg");
    background-position:bottom;
    text-shadow:7px 7px 10px black;
}
/* this is navbar */
.nav-link{
    color:white;
}
.nav-item:hover{
    color:white;
    background-image:url("picturesweb/back7.jpg");
}
.nav-link:hover{
    color:white;
    background-image:url("picturesweb/back7.jpg");
}
.nav{
    border:0.2em inset grey;
    border-radius:10px;
    box-shadow: 5px 5px 5px;
}
.nav-item .dropdown-item{
    font-size:1.2em;
    font-weight:bold;
    text-shadow:none;
    background-color:aliceblue;
}
.nav-item .dropdown-item:hover{
    color:white;
    background-color:black;
    font-size:1.3em;
}



.ourweb{
    color: hotpink;
    font-size: 50px;
    font-weight: bold;
}

/* this is timeline */
.timecontainer{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.timeline{
    width: 80%;
    height:auto;
    max-width: 800px;
    margin: 10px;
    position: relative;
}
.timeline ul{
    list-style: none;
}
.timeline ul li{
    padding: 20px;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeline ul li:last-child{
    margin-bottom: 0;
}
.content h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
}
.content p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
}
.content .date{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: hotpink;
    font-weight: bold;
}
@media only screen and (min-width:768px){
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        left: 50%;
        transform: translatex(-50%);
        background-color: gray;
    }
    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0 20px 20px;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
        
    }
    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: gray;
        border-radius: 50%;
        top: 0;
    }
    .timeline ul li:nth-child(odd)::after{
        right:-30px;
        transform: translate(50%, -50%);

    }
    .timeline ul li:nth-child(even)::after{
        left:-30px;
        transform: translate(-50%, -50%);
        
    }
    .timeline ul li:hover:after{
        background-color: red;
    }
    .timeline ul li:hover{
        background-color: #333320;
    }
    .timeline img{
        opacity: 0.5;
    }
    .timeline img:hover{
        opacity: 1.0;
    }
    .content .date{
        position: absolute;
        top: -30px;
        color: hotpink;
        font-weight: bold;
        font-size: 20px;
    }
}
/* this is footer */
footer{
    margin-top: 50px;
    color: white;
}