
            
            *{
                margin:0;
                padding:0;
            }
            body{
                margin:0;
                padding:0;
                background-color:grey;
                font:1em;
                font-family:arial;
                background-image: url("picturesweb/back10.jpg");
            }
            #mainContainer{
                width:960px;
                margin:0 auto;
                background-color:rgb(23, 29, 105);
                padding:0;
                background-image: url("picturesweb/back12.jpg");
                background-position:center;
                box-shadow:10px 10px 25px;
            }
            #header{
                display:flex;
                margin:0em 1em 1em 1em;
            }
            #headerIcon{
                background-image: url("picturesweb/musicback7.jpg");
                background-position:left;
                flex:1;
                border:0.2em outset lightgrey;
                margin:1em;
                box-shadow:5px 5px 10px  black;
            }
            #headerIcon:hover{
                color:rgba(110, 113, 151, 0.5);
                box-shadow:5px 5px 10px white;
            }
            #headerIcon img{
                width:8.8em;
                margin:1.5em 0.6em;
            }
            #headerTitle{
                background-image: url("picturesweb/music24.png");
                background-position:bottom;
                background-color:black;
                flex:4;
                text-align:center;
                padding:2em;
                border:0.2em outset lightgrey;
                margin:1.2em;
                padding:1em;
                box-shadow:5px 5px 10px  black;
                overflow: auto;
            }
            #headerTitle h1{
                color:white;
                font-size:3em;
                margin:0.7em;
                text-shadow:6px 6px 6px black;
            }
            
            a{
                text-decoration:none;
            }
            
            #navButtons{
                list-style:none;
                margin:0.2em;
            }
            #navButtons li{
                display:inline-block;
                background-image: linear-gradient(teal,navy, blue);
                border:0.15em outset lightgrey;
                border-radius:0.5em;
                /* margin:0em; */
                padding:0.5em;
                font-weight:bold;
                color:white;
                box-shadow:5px 5px 10px black;
            }
            #leftButton{
                margin-left: 15.2em;
                margin-right:3em;
            }
             #rightButton{
                margin-right: 13.8em;
                margin-left:3em;
            } 
            #navButtons li:hover{
                color:darkorange;
                background-image:url("picturesweb/back1.jpg");
                background-position:left;
            }
            #navButtons li:active{
                color:red;
            }
            .nav-item{
                color:white;
                font-weight:bold;
                background-color:black;
                border-radius:10px;
                margin:0.1em;
                border: 0.25em outset grey;
                background-image: url("picturesweb/texture7.jpg");
                background-position:bottom;
                text-shadow:7px 7px 10px black;
            }
            .nav-link{
                color:white;
            }
            .nav-item:hover{
                color:white;
                background-image:url("picturesweb/back7.jpg");
            }
            .nav-link:hover{
                color:white;
                background-image:url("picturesweb/back7.jpg");
            }
            .nav{
                border:0.2em inset grey;
                border-radius:10px;
                margin:1.5em 1.5em;
                box-shadow: 5px 5px 5px  black;
            }
            .nav-item .dropdown-item{
                font-size:1.2em;
                font-weight:bold;
                text-shadow:none;
                background-color:aliceblue;
            }
            .nav-item .dropdown-item:hover{
                color:white;
                background-color:black;
                font-size:1.3em;
            }
            #footerBar{
                /* background-color:lemonchiffon; */
                flex:1;
                margin:0.8em;
                text-align:center;
                border:0.2em inset grey;
                background-image: url("picturesweb/back1.jpg");
                background-position:center;
                padding:0.2em;
                box-shadow:5px 5px 10px;
            }
            .footerBarPicture{
                height:6em;
                border:0.2em outset lightgrey;
                margin:0.2em;
            }
            .footerBarPicture:hover{
                border: 0.1em solid white;
                border-radius:20%;
            }
            #footer{
                background-color:black;
                background-image: url("picturesweb/back15.jpg");
                background-position:center;
                border: outset 0.4em blueviolet;
                padding:0.5em;
                margin:1em;
                box-shadow:5px 5px 5px black;
                display:flex;
                align-items:center;
                justify-items:center;
            }
            .webFooter{
                background-image: url("picturesweb/back10.jpg");
                border:1px solid grey;
                margin:1em 0em;
                padding:1em 0em;
                text-align:center;
                color:white;
                line-height:1em;
            }