.row{
    color:white;
}
#carouselBig{
    background-color:black;
    text-align:center;
    padding:3em;
    background-image: url("picturesweb/back11.jpg");
    background-position:right;
    margin:2em;
}
.carouselPic{
    height:20em;
    width:auto;
    border:1px solid white;
}
.caroHeader{
    letter-spacing:0.2em;
}
.mediaPostPic{
    width:10em;
    height:auto;
    margin:auto 1em;
} 
.media-type1{
    background-image: url("picturesweb/texture2.jpg");
    background-position:right;
    padding:0.5em;
    margin:0.4em;
    box-shadow: 2px 2px 10px black;
}
.media-type2{
    background-image: url("picturesweb/texture7.jpg");
    background-position:right;
    padding:0.5em;
    margin:0.4em;
    box-shadow: 2px 2px 10px black;
} 
.fa{
    margin:4px;
}
.discHeading{
    text-align:center;
    background-color:black;
}
.ruler{
    /* color:teal;
    background-color:teal; */
    border: 1px dashed teal;
}
.discussionTitle{
    text-align:center;
    background-color:teal;
    padding:0.1em;
    margin:0.2em;
}
.discEnd{
    background-color:slategray;
    text-align:center;
    padding:0.5em;
}
.discEndText{
    font-size:1.2em;
    padding:0.2em;
    margin:0.2em;
    color:black;
    font-weight:bold;
}
.discEndButtons{
    color:black;
    box-shadow: 1px 1px 10px black;
}
.discEndButtons:hover{
    box-shadow: 1px 1px 10px white;
}
.rulerLow{
    border: 1px dashed grey;
}
.discussionTitleLow{
    text-align:center;
    background-color:teal;
    padding:0.3em;
    background-image: url("picturesweb/back7.jpg");
    background-position:center;
}
.media-type3{
    background-image: url("picturesweb/texture10.jpg");
    background-position:right;
    padding:0.5em;
    margin:0.4em;
    box-shadow: 2px 2px 10px black;
} 
.media-type4{
    background-image: url("picturesweb/back7.jpg");
    background-position:center;
    padding:0.5em;
    margin:0.4em;
    box-shadow: 2px 2px 10px black;
} 
.yourComment{
    text-align:center;
    justify-items:center;
    align-items:center;
}
#yourCommentInput{
    padding:3em 8em;
    margin:1em;
    border:0.5em inset grey;
}