*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(back10.jpg);
    color: white;
}
.main{
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin: 5% 8% 5% 8%;
    background-image: url(back12.jpg);
    padding: 20px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
#headerlogo{
    background-image: url("musicback7.jpg");
    background-position: left;
    border:0.2em outset lightgrey;
    margin: 1em 1em 3em 1em;
    box-shadow:5px 5px 10px;
    align-items: center;
    padding-bottom: 15px;
}
#headerlogo img{
    width: 120px;
    height: 120px;
    margin: 10px;
}
#headerlogo:hover{
    color:rgba(110, 113, 151, 0.5);
}

#headerTitle{
    background-image: url("music24.png");
    background-position:bottom;
    background-color:black;
    /* flex:4; */
    text-align:center;
    padding:2em;
    border:0.2em outset lightgrey;
    margin:1.2em;
    padding:1em;
    box-shadow:5px 5px 10px;
}
#headerTitle h1{
    color:white;
    font-size:3em;
    margin:0.7em;
}

.mainpage{
    display: grid;
    grid-template-columns: 200px auto;
    gap: 15px;
    /* border: white 1 px solid; */
}
.sidebarleft{
    display: grid;
    grid-template-rows: repeat(4, 200px);
    margin-top: 15px;
    row-gap: 20px;
}
.sidebarleft img{
    width: 100px;
    height: 100px;
}
.sidebarright{
    font-family: sans-serif;
    font-size: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 350px);
    row-gap: 60px;
    column-gap: 20px;
    margin-top: 15px;
    padding: 5px;
}
.sidebarright .instrumentitem{
    /* margin-bottom: 100px; */
}
.sidebarright img{
    height: 200px;
    width: 150px;
}
.instrumentitem{
    display:flex;
    flex-flow: column;
    /* border: black 1px solid; */
    padding: 10px;
    align-items: center;
    border:0.2em outset lightgrey;
    box-shadow:5px 5px 10px;
    background-color:black;
}
.instrumentitem h1{
    font-size: 30px;
    margin: 10px;
}
.star{
    margin: 5px;
}
.star i{
    display: inline-block;
    font-size: 17px;
    color: gold;
}
.sidebarright i:hover{
    background-color:lightyellow;
}
.sidebarright a:visited{
    color:red;
}
