*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("picturesweb/back10.jpg");
}
.logo{
 
    background-image: url("picturesweb/music24.png");
    background-position:center;
    background-color:black;
    background-size: cover;
    margin-top: 20px;
    border: 1px solid rgb(211, 211, 211);
}
.logotitle h2{
    padding: 20px;
    color: rgb(32, 16, 250);
    font-weight: bold;
}
.log{
    margin-right: 20px;
}
.nav-item{
    color:white;
    font-weight:bold;
    background-color:black;
    border-radius:10px;
    margin:0.1em;
    border: 0.25em outset grey;
    background-image: url("picturesweb/texture7.jpg");
    background-position:bottom;
    text-shadow:7px 7px 10px black;
}
/* this is navbar */
.nav-link{
    color:white;
}
.nav-item:hover{
    color:white;
    background-image:url("picturesweb/back7.jpg");
}
.nav-link:hover{
    color:white;
    background-image:url("picturesweb/back7.jpg");
}
.nav{
    border:0.2em inset grey;
    border-radius:10px;
    box-shadow: 5px 5px 5px;
}
.nav-item .dropdown-item{
    font-size:1.2em;
    font-weight:bold;
    text-shadow:none;
    background-color:aliceblue;
}
.nav-item .dropdown-item:hover{
    color:white;
    background-color:black;
    font-size:1.3em;
}
/* this is main page */
.row h2{
    margin-bottom: 40px;
    color: gold;
}
.col-md-12.rankitem{
    margin: 0 10px 50px 0px;
    background-color: rgb(11, 76, 253);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px gray;
    border-radius: 3px;
    border: gray solid 1px;
    color: white;
}
.rankitem h3{
    margin: 27px;
}
.progress{
    margin-bottom: 5px;
} 
.favoriteitem{
    margin: 0 20px 50px 10px;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 5px 10px gray;
    border-radius: 3px;
    border: gray solid 1px;
    color: white;
}
.favoriteitem img{
    height: 182.5px;
    border-radius: 50%;
    border: gray 2px solid;
}
.rankitem img{
    height: 240px;
    border: gray 2px solid;
}
i{
    font-size: 15px;
    color: gold;
}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio{
    margin-left: 10px;
    margin-top: 5px;
}
.firsticon{
    margin-left: 10px;
}
footer{
    margin-top: 50px;
    color: white;
}