.row{
    color:white;
}
.cardTypeOne{
    background-color:black;
    color:white;
    text-align:center;
}
.votepicA{
    width:3em;
    height:auto;
}
.votepicB{
    width:3em;
    height:auto;
}
.votepicD{
    width:2em;
    height:1em;
}
.cardAbody{
    background-color:orange;
}
.cardBbody{
    background-color:indianred;
}
.cardCbody{
    background-color:lightblue;
}
.cardDbody{
    background-color:white;
}
.inputLeftAligned{
    text-align:left;
    padding-left:4em;
}

.customizerRadioJazz{
    display:block;
    font-size:1em;
    margin:0;
    padding:0;
    height:0.7em;
}
.customizerRadioJazz:hover{
    color:orange;
    text-shadow:1px 1px 16px orange;
}
.cardTypeTwo{
    background-color:black;
    color:white;
    text-align:center;
    background-image: url("picturesweb/texture2.jpg");
    background-position:bottom;
}
.vHeader{
    background-image: url("picturesweb/texture10.jpg");
    background-position:center;
    background-color:black;
    text-align:center;
    margin:3em 0;
    border:1px solid grey;
}
.mediaBottom{
    align-items:center;
    justify-items: center;
}
.feed{
    background-image: url("picturesweb/back7.jpg");
    background-position:center;
    text-align:center;
    border:1px solid white;
    align-items:center;
    justify-items: center;
    color:white;
    font-size:2em;
    margin:0.5em 1em;
}
.feedTwo{
    background-image: url("picturesweb/texture2.jpg");
    background-position:center;
    text-align:center;
    border:1px solid white;
    align-items:center;
    justify-items: center;
    color:white;
    font-size:2em;
    margin:0.5em 1em;
}
.fa{
    margin: 6px;
}