html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  /* backgroud*/
  background-image: url("../limg/l_bgd.jpg");
}

.form-signin {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* discussion2 body css begin */
.jumbotron{
  width: 95%;
  height: 4.5rem;
  margin: 0 auto;
  background-color: rgba(52,58,64,0);
  background-image: url("../limg/loginheader.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border:1px solid rgba(255, 255, 255, 0.432);
  box-shadow: 3px 3px 5px red, 5px 5px 10px yellow;
}

.contactusinput{
  height: 2.9rem;
}

.contactusinput{
  height: 2.85rem;
}

.contactusbutton{
  width: 75%;
}

.cardheadsize{
  width: 97%;
  margin: 0 auto;
  vertical-align: top;
}

.cardbodysize{
  width: 97%;
  margin: 0 auto;
  vertical-align: top;
  color: black;
}

/* discussion2 body css end */
